<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Audio Recorder</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/css/nprogress.css">
    <link rel="stylesheet" href="/css/ar.css">
  </head>

  <body>
    <header>Audio Recorder</header>
    <div class="support hidden">
      <p>Your browser doesn't support audio recording.</p>
      <i class="fa fa-4x fa-microphone-slash"></i>
    </div>

    <div class="recorder hidden">
      <p>Click on the microphone to start recording.</p>
      <div class="record-button">
        <i class="fa fa-4x fa-microphone"></i>
      </div>

      <p class="record-timer"></p>
      <div>
        <audio class="record-playback record-result hidden" controls></audio>
      </div>
    </div>

    <footer>
      <div id="progress-bar"></div>
      <div class="btn insert record-result hidden">Insert</div>
      <div class="btn cancel">Cancel</div>
        <a class="record-download record-result hidden" href="#">
          <i class="fa fa-download"></i>
        </a>
    </footer>

    <script src="//d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script src="/lib/recorder/recorder.min.js"></script>
    <script src="/js/ar.js"></script>
  </body>
</html>
